<div class="seller-auth">
    <div class="sign-up mt-2" *ngIf="new_user">
        <h1 class="mt-2">Seller Sign-Up</h1>
        <p class="text-danger justify-content-center d-flex mb-0" *ngIf="authError!=''">{{authError}}</p>
        <div class="col-lg-4 col-md-6 col-sm-8 form_data">
            <div class="d-flex flex-column mt-2"> 
                <label class="my-auto" class="my-auto">First Name <span class="text-danger">*</span></label>
                <input type="text" [(ngModel)]="signup_data.f_name" placeholder="Enter Your First Name"/>
            </div>
            <div class="d-flex flex-column mt-2">
                <label class="my-auto">Last Name <span class="text-danger">*</span></label>
                <input type="text" [(ngModel)]="signup_data.l_name" placeholder="Enter Your Last Name"/>
            </div>
            <div class="d-flex flex-column mt-2">
                <label class="my-auto">Email-Address <span class="text-danger">*</span></label>
                <input type="text" [(ngModel)]="signup_data.email" placeholder="Enter Your email"/>
            </div>
            <div class="d-flex flex-column mt-2">
                <label class="my-auto">Phone Number <span class="text-danger">*</span></label>
                <input type="text" [(ngModel)]="signup_data.phone" placeholder="Enter the Phone Number"/>
            </div>
            <div class="d-flex flex-column mt-2">
                <label class="my-auto">Password <span class="text-danger">*</span></label>
                <input type="password" [(ngModel)]="signup_data.password" placeholder="Enter The Password"/>
            </div>
            <div class="d-flex flex-column mt-3 mb-2" (click)="signup()">
                <button class="form-button">Sign-Up</button>
            </div>
            <a (click)="toggle()" role="button">Already have an account? Click here to Login</a>
        </div>
    </div>
    <!-- Login Area -->
    <div class="sign-in mt-2" *ngIf="!new_user">
        <h1 class="mt-2">Log-In</h1>
        <div class="col-lg-4">
            <p class="text-danger justify-content-center d-flex mb-0" *ngIf="authError!=''">{{authError}}</p>
            <div class="d-flex flex-column mt-2">
                <label class="my-auto">Email-Address <span class="text-danger">*</span></label>
                <input type="text" [(ngModel)]="signin_data.email" placeholder="Enter Your email"/>
            </div>
            <div class="d-flex flex-column mt-2">
                <label class="my-auto">Password <span class="text-danger">*</span></label>
                <input type="password" [(ngModel)]="signin_data.password" placeholder="Enter The Password"/>
            </div>
            <div class="d-flex flex-column mt-3 mb-2" (click)="signin()">
                <button class="form-button">Log-In</button>
            </div>
            <a (click)="toggle()" role="button">Don't have account? Click here to register</a>
        </div>
    </div>
</div>