<div class="mt-4">
    <div class="row search-item" *ngFor="let item of searchResult">
        <div class="col-sm-3">
            <a routerLink="/details/{{item.id}}"><img class="search-img" src="{{item.image_url}}"></a>
        </div>
        <div class="col-sm-8">
            <a routerLink="/details/{{item.id}}"><h6 class="item-name">{{item.name}}</h6></a>
            <p><b>Price: {{item.price}}</b></p>
            <p>Color: {{item.color}}</p>
            <p>Category: {{item.category}}</p>
            <p>Description: {{item.description}}</p>
        </div>
    </div>
</div>

